/*#region Общие стили*/
* {
	font-family: Jura, sans-serif
}

.container {
	margin: 0 auto;
	width: 1140px;
}

body {
	margin: 0;
	background: #F8E7DF;
	
}
.btn {
	background: #EA632C;
	border-radius: 113px;
	border: 0;
	margin-left: 25%;
}
.btn a {
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	
}
.btn a:hover{
	color: #000;
}
.btn:hover {
	background:#fff;
}
a.link {
	color: #775146;
    text-decoration: none;
}
a.link:hover {
	color: #000;
}
a.link.currect {
	color: #000;
    text-decoration: none;
}
a.link.currect:hover {
	color: #775146;
}



/*#endregion*/

/*#region Стили шапки и футера*/
header {
	display: block;
	width: 100%;
}

header .header_menu {
	display: flex;
}
header .header_wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: absolute;
	z-index: 3;
	align-items: baseline;
}
header .header_wrapper.main {
	display: flex;
	justify-content: space-around;
	width: 1230px;
	position: absolute;
	z-index: 3;
	align-items: baseline;
}
header .header_title {
	width: 130px;
}
header .header_menu {
	width: 700px;
	display: flex;
    justify-content: space-evenly;

}
header .header__item {
	margin-top: 25px;
	margin-bottom: 16px;
	display: flex;
}
header .header__item.name {
	font-size: 30px;
	font-weight: 700;
	text-align: left
}

.hz.mobile {
	display: none;
}

header .title {
	font-size: 36px;	
}
header .tittle {
	margin-top: 19px;	
}
header .header__item_title a {
	color: #000;
    text-decoration: none;
}

header .line {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #000;
	z-index: 1;
	margin-top: 77px;
}
header .space {
	display: block;
	height: 77px;
}
.footer {
	background: #7751466B;
	margin-top: 0px;
	font-size: 25px;
	font-weight: 300;
	text-align: left;
	padding-top: 20px;

}
.footer_wrapper {
	display:flex;
	justify-content: space-between;
    align-items: center;
}
.footer .footer_middle img{
	width: 70px;
	height: 50px;
}
.footer .footer_right img{
	width: 50px;
	height: 50px;
}
.footer .footer_left {
	margin-left: 40px;
}
.footer .footer_right {
	margin-right: 40px;
}
.footer .footer_middle{
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-right: 50px;
}
.footer .footer_left .footer_item.first {
	margin-bottom: 10px;
}
/*#endregion*/

/*#region Стили index.html*/
.promo {
	height: 700px
}

.promo .promo-content__descr h1 {
	margin-top: 80px;
	font-size: 50px;
	text-align: start;
	width: 600px;
	
}
.promo .promo-content__descr h3 {
	margin-top: 0px;
	font-size: 30px;
	text-align: justify;
	color: #775146;
	width: 750px;
	margin-bottom: 40px;
}
.promo .promo-content__descr {
	margin-top: 130px;
}

.promo .promo-content {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 1140px;
	top: 0;
	position: absolute
}
.promo .promo-content__descr h1 {
	font-weight: 700;

}

.promo .promo_img{
	position: absolute;
	right: 0;
	z-index: 2;
}
.promo .promo_img img {
    width: 570px;
	
}
.promo_btn {
	font-size: 24px;
	width: 188.87px;
	height: 63.32px;
}
.promo_btn a{
	padding-top: 14px;

}

/*#endregion*/

/*#region Стили Меню*/
h3.menu_title {
text-align: center;
font-weight: 700;
font-size: 30px;
line-height: 35px;

}
.menu {
    display: flex;
	margin-top: 125px;
}
.menu.currect {
	margin-top: 60px;
}

.menu__list {
	margin-left: 40px;
	margin-right: 60px;
	display: flex;
	flex-direction: column;

}
.menu__list_item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
	
.menu__list_descr {
	font-size: 25px;
	margin-left: 15px;
	font-weight: 700;
}
.menu__list_item img {
	width: 78px;
	height: 78px;
	border-radius: 100%;
}

.menu__cards {
	display: flex;
	flex-wrap: wrap;
}
.menu__card_items {
	display: flex;
	flex-direction: column;
	width: 402px;
	width: 300px;
	margin: 0 40px 80px 40px;
	
}
.menu__card_item img {
	height: 363px;
	width: 300px;
	height: 260px;
	box-shadow: 37px 37px 49.2px -24px rgba(0, 0, 0, 0.5);
	border-radius: 32px;
	
}
.menu__card_item {
	position: relative;
	text-align: center;
}
.menu__card_descr {
	font-size: 20px;
	position:absolute;
    bottom:3px;
    left:3px;
	background: rgba(89, 35, 5, 0.43);
	width: 98%;
    color:#fff;
    margin:0;
	border-radius: 0px 0px 30px 30px;
}

.menu_btn {
	width: 172.86px;
	height: 44.32px;
	font-size: 20px;
	margin-top: 20px;
}
/*#endregion*/

/*#region Стили contacts.html*/
.contacts h1 {
	text-align: center;
	font-size: 100px;
	font-weight: 700;
	margin: 0;
	padding-top: 0;
}
.contacts .title {
	margin-top: 40px;
}
.contacts_wrapper{
	display: flex;
	margin-top: 60px;
	margin-bottom: 100px;
	justify-content: space-around;
}
.contacts_item img {
	width: 100px;
	height: 100px;
}
.contacts_item {
	width: 100px;
}

.write-me_wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.write-me_wrapper .titles {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.write-me_wrapper .titles span {
	transform: translateX(35px);
}
.wm_line {
	height: 1px;
	width: 100%;
	background: #000;
}
.write-me_form {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	width: 444px;
}
.write-me_descr {
	font-size: 20px;
	margin-top: 40px;
	width: 447px;
}
.write-me_inputs {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	
}
.write-me_inputs .name{
	height: 60px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
}
.write-me_inputs .phone{
	height: 60px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
}
.write-me_inputs .comment{
	height: 120px;
	padding-left: 20px;
	font-size: 14px;
}
.write-me_subdescr {
	font-size: 15px;
	width: 412px;
	margin-left: 30px;
}
.write-me_subdescr .red {
	color: red;
}
.write-me_wrapper .btn_output {
	width: 172px;
	height: 44px;
	margin-top: 30px;
	margin-left: 60%;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}
.write-me_wrapper .btn_output:hover {
	color: #000;
}
/*#endregion*/

/*#region Стили promo.html*/

.promotions {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.promotions img {
width: 700px;
height: 400px;
border-radius: 54px;
}
.promot .title-set {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: center;
}
.promot .title {
	font-size: 50px;
}
.promot .line {
	width: 350px;
	height: 1px;
	background: #000;
}

/*#endregion*/

/*#region Стили payment.html*/
.payment_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.payment .container {
	width: 1200px;
}
.payment .subtitle {
	font-weight: 400;
	font-size: 40px;
	line-height: 47px;
	color: #000000;
	margin: 0;
	margin-bottom: 40px;
}
.payment_form {
	width: 758px;
	height: 386px;
	background: #FFFFFF;
	border-radius: 30px;

}
.payment_form_items {
	margin-left: 20px;
	padding-top: 20px;
}
.payment_form_item {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}
.payment_form_item label {
	margin-left: 20px;
	margin-bottom: 5px;
}
.payment_form_item  input {

	width: 537px;
	height: 38px;
	background: #EFEFEF;
	border-radius: 0px 30px 30px 0px;
	border: 0px;
	padding-left: 20px;
}
.payment_form_item  input.phone {
	width: 404px;
	height: 38px;
}
.payment_form_item  input.email {
	width: 464px;
	height: 39px;
}
.payment_form_item  input.comment {
	width: 648px;
	height: 61px;
}
.payment_setting_item {
	font-weight: 400;
	font-size: 40px;
	line-height: 47px;
	width: 400px;
}
.payment_setting_btns {
	display: flex;
	margin-top: 60px;
	margin-bottom: 50px;
	justify-content: space-between;
}
.payment_settings button.btn.setting_btn {
	width: 172px;
	height: 44px;
	background: #FFFFFF;
	margin-left: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

}
.payment_settings button.btn.setting_btn:hover {
	background: #EA632C;
}
.payment .total {
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	margin-left: 80%;
	margin-top: 20px;
}
.payment button.btn.ordered {
	width: 172px;
	height: 44px;
	border-radius: 113px;
	margin-left: 85%;
	margin-top: 20px;
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #FFFFFF;


}
/*#endregion*/
/*#region Стили 404.html*/
.for-404 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.for-404 img {
	width: 850px;
	height: 750px;
}
.for-404-wrapper {
	display: flex;
    justify-content: center;
    align-items: flex-start;
	flex-direction: column;
	margin-right: 10%;
}
.for-404 .subtitle {
	font-weight: 700;
	font-size: 48px;
	line-height: 57px;
	width: 300px;
}
.for-404 .descr {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	width: 350px;
}
.for-404 button.btn.for-404 {
	width: 172px;
	height: 44px;
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-top: 20px;
	
}
.for-404 .block {
	width: 172px;
	height: 44px;
	text-align: center;
}
/*#endregion*/
/*#region Стили index.html*/
.success h1 {
	text-align: center;
	font-weight: 400;
	font-size: 64px;
	line-height: 76px;
	color: #231818;
	margin-top: 150px;
}
.success h3 {
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #231818;
}
.success a {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #231818;
	margin-top: 40px;
	
}
.success {
	margin-bottom: 150px;
}
/*#endregion*/
/*#region Стили error.html*/
.error h1 {
	text-align: center;
	font-weight: 400;
	font-size: 64px;
	line-height: 76px;
	color: #231818;
	margin-top: 150px;
	margin-bottom: 30px;
}
.error h3 {
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #231818;
}
.error .actions {
	display: flex;
    justify-content: space-between;
    margin-top: 40px;
	width: 500px;
	margin-left: 30%;
	align-items: baseline;
}
.error button {
	width: 172px;
	height: 44px;
	background: #F77A47;
	border-radius: 37px;
	margin: 0;

}
.error button a{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	padding-top: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}
.error a {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration-line: underline;
	letter-spacing: 0.04em;
	text-decoration-line: underline;
	text-transform: capitalize;
	color: #000000;
	margin: 0;
}
.error {
    margin-bottom: 150px;
}
/*#endregion*/
/*#region Стили продуктов*/
.product {
    margin-bottom: 100px;
}
.product_wrapper {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.product_wrapper img{
	width: 650px;
	height: 550px;
	border-radius: 61px;

}
.product .other_images img{
	width: 200px;
	height: 134px;
	border-radius: 30px;

}
.product .other_images {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 550px;
}
.product .info {
	width: 600px;
}
.product .subtitle {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
}
.product .text {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	margin-top: 10px;
}
.product .composition {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-top: 5px;
}
.product .description {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-top: 15px;
}
.product .type_dough {
	width: 460px;
	height: 65px;
	background: #D9D9D9;
	border-radius: 44px;
	margin-top: 25px;
}
.product .prices {
	width: 541px;
	height: 65px;
	background: #D9D9D9;
	border-radius: 44px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.product .prices_form {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.product .types_form {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.product .product_btn{
	color: #fff;
	background-color: #EA632C;
	width: 172.86px;
	height: 44.32px;
	padding-top: 10px;
	cursor: pointer;
}
.product button:active{
	background-color: #FFFFFF;
}
.product button:focus{
	background-color: #FFFFFF;
}
.product button {
	background: #D9D9D9;
	border-radius: 205px;
	border: 0;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	display: inline-block;
}
.product button:focus {
	color: #000;
}
/*#endregion*/

/*#region Стили index.html*/

/*#endregion*/