* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_srn.jpg") center center/cover no-repeat; /* / помогает правильно отобразить */
    padding: 39px 0 62px 0; /* для отступа элементов от краев */
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    width: 83px;
    height: 71px;
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
}

.title {
    /* font-family: "Roboto - Black"; */
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.59;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #f9bf3b;
}

.simple .title_big {
    font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 21px;
  color: #ffffff;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text  {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    margin-top: 23px;
    padding: 0 13px;
    color: #ffffff;
}

.promo .promo_text span {
    font-weight: 900;
    color: #f9bf3b;
}

.promo .promo_btn  {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
    min-height: 72px;
    margin: 73px auto;
    object-fit: contain;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    font-weight: 3000;
    /* font-stretch: condensed; */
    text-transform: uppercase;
    /* font-style: normal; */
    line-height: 24px;
    /* letter-spacing: normal; */
    /* text-align: center; */
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.more .more_img {
     width: 30px;
    height: 19px;
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    margin-top: 17px;
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #4a4a4a;
}

/* .my-flex-container {
    display: flex;
    height: 450px;
    justify-content: space-around; /* выравнивание контента по глав оси 
    align-items: center; /* выравнивание по поперечной оси 
    flex-wrap: wrap; /* Расположение обектов на др строку при нехватке места 
    flex-direction: column;
}

.my-flex-block {
    width: 150px;
    height: 150px;
    margin: 0 50px;
    background-color: red;
    text-align: center;
    color: #ffffff;
} */

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    color: #4a4a4a;
}

.optimization .optimization_text span {
    font-weight: 900;
}

.optimization .optimization_img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/finish_srn.jpg') center center/cover no-repeat;
}

.finish .finish_header {
    color: #efefef;
}

.finish .finish_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.finish .finish_wrapper .finish_item {
     width: 204px;
}

.finish_icon {
    width: 67px;
    height: 64px;
}

.finish_icon_1 {
    height: 48px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_descr {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 87px 0;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_text {
    margin-top: 42px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.gift .gift_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
    min-height: 72px;
    margin: 52px auto;
    object-fit: contain;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.11);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    cursor: pointer;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.first_webinar {
    min-height: 515px;
    padding: 82px 0 64px 0;
}

.first_webinar .first_webinar_img {
    display: block;
    margin: 0 auto;
}

.first_webinar .first_webinar_text {
    font-family: Roboto;
    margin-top: 37px;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.first_webinar .time {
    font-family: Roboto;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
}

.first_webinar .limit {
    font-family: Roboto;
    margin-top: 25px;
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.footer .contact, .footer a {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}